@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: rgb(41, 98, 255);
}

body {
    background: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background-color: whitesmoke;
    padding: 1em ;
.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

     span {
        color: var(--primary-color);
     }
    }
}

nav {
   display: none;


.container {
    display: flex;
    place-content: space-between;
}

.mobile_menu {
    cursor: pointer;
    align-items: end;
}
}

a{
    color: grey;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   

}

section{
    padding: 5em 8em 10em 8em;
}
 .hero { 
    text-align: center;
 }

 .leftcol {
    
    
    font-weight: bold;
    p {
        color: rgb(91, 74, 113);
         letter-spacing: .2em;
          text-transform: uppercase;
    font-weight: bold;
         

    }
    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }


   
 }
 .freebar_cta {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    text-transform: lowercase;


 }

 .videocta {
    display: block;
    margin-top: 1em;
 }

 .heroimg{
    margin-right: .8em;
    width: 70%;
    margin-top: 3em;
    padding: 12%;
 }

 .leftcolm {
    margin: 0;
    padding-left: .1em;
    display: grid;
    color: antiquewhite;
   

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
        
        &:before{
            content:'';
            left: -2em;
            position:absolute;
            width: 20px;
            height: 20px;
            background-image: url(checklist.png);
            background-size: contain;
            margin-right: .5em;
        }
        
    }

 }
 .features{
    background-color: rgb(42, 35, 35);

 }

 .des{
    background-color: blue;
    margin: 0;
    padding: 2%;
    text-align: right;


 }

 .testimonials{
    background-color: var(--primary-color);
    li {
        background-color: rgb(191, 199, 221);
        border-radius: 10%;
        text-align: center;
        padding: 2em 1em ;
    margin: 4em;  
img {
    width: 5em;
    height: 5em;
    margin-top: -5em;
    ;
} 
 }



 }

 .contact {
    h2{
        text-align: center;
        text-decoration:none;

    }
    iframe{
        display: block;
        margin: auto;
        padding-left: 50%;
        width: 50%;
        height: 50%;

    }

 }
 .conlinks{
    padding-right: 50%;
 }

 .insta,.linkin,.github{
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 10em;
    &::before{
        content: "  ";
        left: -1.5em;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(heart.png);
        size: contain;
        margin-right: .5em;
    }
 }


